{% if is_granted('ROLE_USER') %}
    <!--<form method="post" action="{#{ action }#}" novalidate="novalidate">
        <div>-->{#{ form_label(form.texto) }#}{#{ form_widget(form.texto) }#}
        {#{ form_rest(form) }#}
        <!--<p id="comentarProducto" class="comentarioProducto">
            <input id="comentarProducto" type="submit" value="Enviar comentario"/>
        </p>
    </form>-->

    {{ form(form) }}

</div>
<!--<p><textarea id="campoComentario" class="form-control" rows="5"></textarea></p>-->


{% else %}
<p><a href=""> Registrate para comentar este producto</a></p>
{% endif %}